.nav-main {
	width: 100%;
    background-color: $nav-babacground-color;
    height: 70px;
    color: $nav-foreground-color;



		.logo {
				float: left;
        height: 40px;
        padding: 20px 148px 21px 148px;
				margin-right: 302px;
    }

    > ul {
        @extend %plainlist;
        float: left;

        > li {
            float: left;
        }
    }
}

.nav-item {
    display: inline-block;
    padding: 15px 23px;
    height: 40px;
    line-height: 40px;
    color: $nav-foreground-color;
    text-decoration: none;

	&:hover {
	        background-color: $nav-hover-color;
	    }

	    &:focus {
	        background-color: $nav-hover-color;

	        ~ .nav-content {
	            max-height: 400px;
	            @include transition(max-height, 0.4s, ease-in);
	        }
	    }
	}


.nav-content {
    position: absolute;
		left: 0;
    top: 70px;
    overflow: hidden;
    background-color: #fff;
    max-height: 0px;
		width: 100%;

    a {
        color: $nav-foreground-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.nav-sub {
	padding: 0;

    ul {
        @extend %plainlist;

        a {
            display: inline-block;
            padding: 5px 0;
        }
    }
}

.sub-item-left {
	float: left;
	margin: 28px 16px 51px 16px;

	p {
		margin: 0 0 13px 0;
		color: #2d2d2d;
	}

	img {
		width: 128px;
		height: 85px;
	}
}

#sub-item-1 {
	margin-left: 88px;
}

#sub-item-4 {
	margin-right: 52px;
}

.sub-item-right {
	float: left;
	margin: 54px 0 52px 0;
	width: 200px; 

	a {
		float: no;
		margin: 0 0 13px 0;
		color: #2d2d2d;
	}
}
